<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<h1>你好</h1>
		<ul>
			<% for(var i=0;i<news.length;i++){ %>
			<li>
				<%= news[i] %>
			</li>
			<% } %>
		</ul>
	</body>
</html>
