<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>

<body>
    <hr>
    <%- include('../public/header') -%>

        <!-- header -->
        <div id="headDiv">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">首页</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/user">用户 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">其他</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- header -->

        <hr>
</body>

<script>
    $(function() {
        // 导航栏点击事件
        $('#headDiv').find('a').click(function() {
            $('#headDiv').find('a').each(function(a, b) {
                if ($(this).hasClass('nav-link'))
                    $(this).parent().removeClass('active');
            });
            $(this).parent().addClass('active');
        });
    });
</script>

</html>