<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>Hello, world!</title>
</head>

<body align="center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">小小相册</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">全部 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/up">上传</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <form style="width: 40%" method="POST" action="#" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputPassword1">选择文件夹</label>
                    <select class="custom-select" name="wenjianjia">
							<option selected>-请选择-</option>
							<% for(var i=0;i<albums.length;i++){ %>
							<option value="<%= albums[i] %>">
								<%= albums[i] %>
							</option>
							<% } %>
						</select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlFile1">选择图片</label>
                    <p>尺寸小于2M</p>
                    <input type="file" class="form-control-file" name="tupian" id="exampleFormControlFile1">
                </div>
                <button type="submit" class="btn btn-primary">上传</button>
            </form>
        </div>
    </div>

</body>

</html>